body{
    background-color: antiquewhite;
}
input{
    width: 50%;
    display: black;
    padding: 15px;
    front-size: 20px;
    margin-bottom: 15px;
}
.box{
    background-color: #666;
}
#form{
    display: flex;
    flex-direction: column;
}